/* CSS for THE BIG BOARD OF GAMES <www.bigboardofgames.com> */

/**************************** BASE ********************************/

html,
body{
  height:100%;
  font-family: Helvetica;
}

body {
  text-align: center;
  background-image: url("./assets/masthead_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5); /*can be anything, of course*/
}

.cover {
	height: 100%;
	width: 100%;
}

.content {
	height: 100%;
	width: 100%;
  	display: table;
}

/********************************************************************************
 ************** MAIN *******************
 ********************************************************************************/

/* TODO: Add min-height; */
.main {
  height:100%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.cover-heading,
.lead
{
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: white;
}

.cover-heading {
	font-family: 'Bahiana', cursive;
	font-size: 84px;
	margin: 3%;
}

.lead {
  font-family: 'Roboto Slab', 'Lato', sans-serif;
}

.lead.title-link {
  font-size: 20px;
}

.lead .btn.btn-lg.btn-default {
  margin: 8px;
  text-shadow: none;
  font-family: 'Roboto Slab', 'Lato', sans-serif;
  font-weight: bold;
}

/******************************************
 ********* BUTTONS, LINKS *****************
 ******************************************/

 a {
 	text-decoration: none;
 }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/**********************************************/
